@import 'src/client/constants/fonts.scss';
@import 'src/client/constants/themes.scss';

.side-navigation {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  padding-top: 20px;
  background-color: $navy-blue;
  transition: all 1s ease;

  .menu-icon {
    float: right;
    padding-right: 18px;

    img {
      width: 30px;
    }
  }

  .container {
    margin: 30%;

    .links {
      padding-top: 50px;
      display: flex;
      flex-direction: column;

      a {
        color: $white;
        font-family: $yantra;
        font-size: 36px;
      }
    }
  }
}