@import 'src/client/constants/themes.scss';
@import 'src/client/constants/fonts.scss';

.contact {
  width: 100%;
  margin-top: 50px;
  text-align: center;
  .header {
    width: 50%;
    margin: 10px auto;
    height: 100px;
    background-color: $navy-blue;
    border-radius: 6px;
    text-align: center;
    h1 {
      padding-top: 15px;
      color: $white;
      font-size: 54px;
      font-family: $pt-sans;
    }
  }

  .contact-form-container {
    width: 100%;
    padding-bottom: 50px;
    .contact-form {
      padding-top: 30px;
      padding-bottom: 20px;
      background-color: $neon;
      width: 50%;
      // padding-left: 50px;
      // padding-right: 50px;
      margin: auto;
      border-radius: 6px;
    }
    .form {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 400px;

      input[type=text], textarea {
        padding: 12px;
        border: 1px solid $navy-blue;
        border-radius: 4px;
        resize: vertical;
        width: 70%;
        margin: auto;
        color: $navy-blue;
        font-family: $pt-sans;
        font-weight: 'bold';
        font-size: 20px;
      }
    }
    input[type=submit] {
      margin: auto;
      border: none;
      background-color: $navy-blue;
      font-family: Roboto, sans-serif;
      font-weight: bold;
      font-size: 25px;
      color: white;
      padding: 20px 0;
      width: 50%;
      border-radius: 6px;
    }
  }
}