@import 'src/client/constants/fonts.scss';
@import 'src/client/constants/themes.scss';

.top-navigation-bar-mobile {
  width: 100%;
  height: 60px;
  background-color: $navy-blue;

  .top-navigation-bar-container {
    width: 100%;
    background-color: $navy-blue;
  }

  .top-navigation-bar-links-container {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-right: 15px;
    text-align: right;
  }

  .top-navigation-bar-links {
    width: 30%;
    display: flex;
    justify-content: space-between;
  }

  .top-navigation-bar-collapse-content {
    width: 100%;
    position: absolute;
    background-color: $navy-blue;
    z-index: 10;
  }

  .top-navigation-bar-dropdown-items {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    height: 300px;
    text-align: center;
    z-index: 10;
    a {
      font-size: 24px;
      color: $white;
    }
  }

  img {
    width: 40px;
  }

  .top-navigation-dropdown-icon {
    img {
      padding-left: 15px;
    }
  }
 
  .top-nav-link {
    padding-left: 5%;
  }
}

