@import 'src/client/constants/themes.scss';
@import 'src/client/constants/fonts.scss';

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

.colored-table-row {
  background-color: #CCC9E7;
}