@import 'src/client/constants/fonts.scss';
@import 'src/client/constants/themes.scss';

.navigation {
  width: 300px;
  height: 100%;
  padding: 30px 0px;
  background-color: $navy-blue;
  transition: all 1s ease;
  .menu-icon {
    float: right;
    padding-right: 20px;
    img {
      width: 30px;
    }
  }
  .container {
    height: 100%;
    margin: 25%;
    .links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      a {
        color: $white;
        font-family: $yantra;
        font-size: 36px;
      }
    }
  }
}