@import 'src/client/constants/fonts.scss';
@import 'src/client/constants/themes.scss';

.navigation {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: $navy-blue;
  .container {
    width: 960px;
    margin: auto;
    .links {
      display: flex;
      justify-content: center;
      a {
        color: $white;
        font-family: $yantra;
        font-size: 36px;
      }
    }
  }
}