@import 'src/client/constants/fonts.scss';

.about {
  .about-me-container {
    width: 45%;
    height: 500px;
    margin: auto;
    .header-title {  
      font-family: $montserrat;
      font-size: 30px;
      padding-top: 30px;
      margin: 0;
    }
    .header-image {
      padding-top: 30px;
      width: 100%;
      height: 250px;
      object-fit: cover;
    }

    .about-me-navigation {
      padding-top: 25px;
      display: flex;
      justify-content: space-between;
      button {
        padding: 0;
        font-family: $montserrat;
        border: none;
      }
    }                
  }
}