// 1. Site Color Theme

// Site Color Theme: Primary Colors
$neon: #FF1654;
$navy-blue: #0E2D3B;
// Site Color Theme: Accent Colors
$sunnyD: #FFC66B;
// Site Color Theme: Background Colors
$dull: #C7CBC5;
$light: #E5E5E5;
//TODO: Add purple