@import url('https://fonts.googleapis.com/css?family=Yantramanav');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

$yantra:'Yantramanav', sans-serif;
$pt-sans: 'PT Sans', sans-serif;
$montserrat: 'Montserrat', sans-serif;
