@import url('https://fonts.googleapis.com/css?family=Yantramanav');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');

$yantra:'Yantramanav', sans-serif;
$pt-sans: 'PT Sans', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$open-sans: 'Open Sans', sans-serif;
$dancing-script: 'Dancing Script', ;