// 1. Site Color Theme

//Primary Colors
$neon: #FF1654;
$navy-blue: #0E2D3B;
//Accent Colors
$sunnyD: #FFC66B;
//Background Colors
$dull: #C7CBC5;
$light: #E5E5E5;
//Text Color
$white: #ffffff;
//TODO: Add purple