// 1. Site Color Theme

//Primary Colors
$neon: #FF206E;
$navy-blue: #172A3A;
//Accent Colors
$sunnyD: #FFC66B;
$tangerine: #E59500;
//Background Colors
$dull: #C7CBC5;
$light: #E5E5E5;
$indigo: 	#330F53;
$cherry: #840032;
$pink: #EFA9AE;
//Text Color
$white: #ffffff;
//Background colors
$light-grey: #F0F0F0;
$sky-blue: #00bfff;